*{
  margin: 0;
  padding: 0;
  border: 0;
}
 @font-face {
   font-family:;
   src:url();

 }
 
.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side{
  width: 50%;
  padding-top: 20px;
  height: 100vh;
  padding-left: 64px; 
  box-sizing: border-box;
}

.logo{
  height: 32px;
  width: 120px;
}

.right-side{
  background: #6DBFD1;
  width: 50%;
  height: 100vh;
  text-align: center;
}

.links ul li{
  display: inline-block;
  margin-right: 40px;

}


.links ul li:last-child{
  margin-right: 0;
}
